/* 
    Document   : style
    Created on : Sep 23, 2013, 11:16:07 AM
    Author     : Yahor Filipchyk
    Description:
        Purpose of the stylesheet follows.
*/

body { 
    margin: 0;
    padding: 0;
}

#home {
	float: right;
	color: #444;
	margin-right: 2%;
}

form {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

form input { 
    color: #444;
    height: 36px;
    font-size: 22px;
}

header {
    text-align: center;
    color: #444;
}

/*table, th, td, tr {
    border: solid #777 1px;
}*/

table {
    text-align: center;
    font-size: 20px;
    color: #444;
    background: #eee;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 80%;
}

th, tr, td {    
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    background: #dcdcdc;
}

th, tr, td:hover {
	cursor: default;
}

#toolbar {
	margin-left: 10%;
	margin-top: 20px;
}

input.text {
	margin-bottom: 7px;
	font-size: 18px;
	width: 97%;
	padding: 2px;
}

select {
	margin-bottom: 7px;
	font-size: 18px;
	width: 98.5%;
	padding: 2px;
	height: 42px;
}

fieldset {
	padding: 0;
	border: 0;
}

.ui-dialog .ui-state-error {
	padding: .3em;
}

.validateTips {
	border: 1px solid transparent;
	padding: 0.3em;
}